[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/onap-gerrit-oparent-committers
	owner = group saml/onap-gerrit-oparent-committers
	read = group GitHub Replication
[project]
	description = OParent provides common default settings for all the projects participating in simultaneous release.
[submit]
	action = rebase if necessary
